<form action="/productos" method="post">
    <label for="title">title:</label>
    <input type="text" id="title" name="title">
    <br>
    <br>
    <label for="price">price:</label>
    <input type="text" id="price" name="price">
    <br>
    <br>
    <label for="thumbnail">thumbnail:</label>
    <input type="text" id="thumbnail" name="thumbnail">
    <br>
    <br>
    <input type="submit" value="Enviar">
</form>
<br>
<br>
<a type="button" href="/productos">Ver Productos</a>