<style>
    table, tr, th, td {border: 1px solid}
</style>
{{#if length}}
<table>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imagen</th>
    </tr>
    {{#each contenedor}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td><img src={{this.thumbnail}} width="100" height="100"></td>
    </tr>
    {{/each}}
</table>
{{else}}
<h3>No se encontraron Productos</h3>
{{/if}}
<br>
<br>
<a type="button" href="/">Ingresar Producto</a>
